.oculto {
  display: none;
}
.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartVacio {
  color: red;
  text-align: center;
}

.cart__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.cart__item__img {
  height: 200px;
}

.cart__item__title {
  display: inline-block;
}

.unLink:visited {
  text-decoration: none;
}

.unLink:link {
  text-decoration: none;
}
