.idc_cuerpo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.idc_cuerpo_descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
